.link {
  color: black;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.nav-collapse {
  background-color: #f2f2f2;
  z-index: 1000;
  border-radius: 5px;
}

.brand {
  color: black;
}

.user_name {
  color: black;
  padding-left: 25px;
}
