.link {
  color: black;
  margin-left: 5px;
}

.nav-bar {
  background-color: #f2f2f2;
}

.nav-collapse {
  background-color: #f2f2f2;
  z-index: 1000;
  border-radius: 5px;
}

.brand-text {
  font-size: 2em;
  color: white;
}
