.logo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  display: block;
  max-width: 100%;
  max-height: 150px;
}

.app_container {
  margin-bottom: 100px;
}
