.timeline_container {
  margin: 0;
}

.timeline-header {
  font-size: 2.5em;
  text-align: center;
  padding: 20px;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 6px;
  background-color: grey;
  margin-left: -3px;
}

.event {
  position: relative;
  margin: 20px 0 20px;
}

.event::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  left: 50%;
  top: 15%;
  margin-left: -12px;
  background-color: red;
  background-color: white;
  border: 4px solid #FF9F55;
  border-radius: 50%;
}

.panel {
  position: relative;
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}

.panel::after {
  content: '';
  position: absolute;
  top: 15%;
  left: 100%;
  border-top: 10px solid white;
  border-left: 10px solid grey;
  border-right: 0 solid transparent;
  border-bottom: 10px solid white;
}

.panel_invert {
  float: right;
}

.panel_invert::before {
  content: '';
  position: absolute;
  top: 15%;
  left: -10px;
  border-top: 10px solid white;
  border-left: 0 solid transparent;
  border-right: 10px solid grey;
  border-bottom: 10px solid white;
}

.panel_invert::after {
  content: '';
  position: absolute;
  top: 15%;
  left: 100%;
  border-top: 0 solid white;
  border-left: 0 solid white;
  border-right: 0 solid transparent;
  border-bottom: 0 solid white;
}
