.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 6px;
  background-color: blue;
  margin-left: -3px;
}

.event {
  margin-bottom: 40px;
}

.panel {
  position: relative;
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
}

.panel_invert {
  float: right;
}
