.techlist_container {
  margin-bottom: 40px;
  text-align: center;
}

.techlist_title {
  font-size: 2.5em;
  padding: 20px;
}

.techlist_header {
  font-size: 2em;
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.techlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.lang {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 0;
}

.lang span {
  padding: 0 10px 0;
}

a img {
  max-height: 120px;
  max-width: 120px;
}

a img:hover {
  transform: scale(1.5);
}

.tool {
  text-align: center;
  margin: 50px;
}
