.out-container {
  margin: auto;
  width: 50%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: outset;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
